* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: normal;
}

body {
  line-height: 1;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

input, button, textarea, select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1920px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232323;
  color: white;
  width: 100%;
  min-width: 1920px;
  height: 32px;
}
.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
  width: 500px;
  height: 20px;
}
.header .header__phone {
  margin-left: 286px;
}
.header .header__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 205px;
  height: 32px;
  background-color: #F17E00;
  color: white;
  margin-right: 367px;
}
.header .header__catalog .catalog__logo {
  margin-left: 27px;
  width: 16px;
  height: 16px;
}
.header .header__catalog .catalog__text {
  margin-left: 4px;
}

.korzina {
  width: 48px;
  height: 48px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #F17E00;
  margin-left: 1570px;
}
.korzina .korzina__logo {
  width: 38px;
  height: 38px;
}
.korzina .korzina__notification {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 30px;
  margin-right: 35px;
}

.firstSection {
  width: 1920px;
  height: 779px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.firstSection .firstSection__sidePanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #232323;
  color: white;
  height: 779px;
  width: 205px;
}
.firstSection .firstSection__sidePanel .sidePanel__proxson {
  height: 23px;
  width: 98px;
  margin-left: 27px;
  margin-top: 21px;
}
.firstSection .firstSection__sidePanel .sidePanel__fabric {
  margin-top: 23px;
}
.firstSection .firstSection__sidePanel .sidePanel__logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 205px;
  height: 38px;
  background-color: #4F4E4E;
  margin-top: 16px;
}
.firstSection .firstSection__sidePanel .sidePanel__logoContainer .logoContainer__logo {
  width: 149px;
  height: 21px;
}
.firstSection .firstSection__sidePanel .sidePanel__pagesContainer {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.firstSection .firstSection__sidePanel .sidePanel__pagesContainer .pagesContainer__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 28px;
}
.firstSection .firstSection__sidePanel .sidePanel__pagesContainer .pagesContainer__image {
  width: 36px;
  height: 36px;
  margin-right: 17px;
}

.firstSection__flexColumnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1773px;
  height: 779px;
  background: url("first_section_background.png");
  background-size: cover;
}
.firstSection__flexColumnContainer .flexColumnContainer__logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #FFFFFF, rgba(255, 255, 255, 0));
  background-size: cover;
}
.firstSection__flexColumnContainer .flexColumnContainer__logoContainer .logoContainer__logo {
  width: 254px;
  height: 51px;
  margin-top: 23px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__Best {
  position: relative;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__Best .Best__matrasImage {
  margin-left: 87px;
  width: 794px;
  height: 517px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__Best .matrasImage__baige {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 450px;
  margin-top: 268px;
  width: 151px;
  height: 123px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__Text {
  font-size: 64px;
  font-weight: 200;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__Text .priceContainer__Text__left {
  margin-left: 227px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__costContainer {
  margin-left: 100px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__costContainer .costContainer__text__line {
  position: relative;
  display: inline-block;
  font-size: 34px;
  color: gray;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__costContainer .costContainer__text__line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #848484;
  -webkit-transform: rotate(-8.49deg);
          transform: rotate(-8.49deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__costContainer .costContainer__text {
  font-size: 64px;
  font-weight: 200;
  margin-left: 12px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__Characteristics {
  list-style: none;
  margin-top: 60px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__Characteristics .Characteristics__textBlock {
  position: relative;
  margin-bottom: 8px;
  padding: 5px;
}
.firstSection__flexColumnContainer .flexColumnContainer__contentContainer .contentContainer__priceContainer .priceContainer__Characteristics .Characteristics__textBlock .Characteristics__textBlock::before {
  content: "";
  background-color: #F17E00;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  position: absolute;
  top: 50%;
  left: -13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 14px;
}
.firstSection__flexColumnContainer .flexColumnContainer__radioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.firstSection__flexColumnContainer .flexColumnContainer__radioContainer .radioContainer__customRadio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.firstSection__flexColumnContainer .flexColumnContainer__radioContainer .radioContainer__customRadio:checked {
  border-radius: 40%;
  width: 42px;
  height: 25px;
}
.firstSection__flexColumnContainer .flexColumnContainer__radioContainer .radioContainer__customRadio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 6px;
  background: black;
  border-radius: 8px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.secondSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 1920px;
  height: 680px;
  background-color: white;
}
.secondSection .cardContainer__firstcard {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), color-stop(44%, rgba(122, 141, 159, 0.4))), url("image92.png");
  background: linear-gradient(to bottom, #EBEBEB, rgba(122, 141, 159, 0.4) 44%), url("image92.png");
  background-size: cover;
}
.secondSection .cardContainer__secondcard {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#CAF6D9), color-stop(30%, rgba(111, 155, 169, 0.6)));
  background: linear-gradient(to bottom, #CAF6D9, rgba(111, 155, 169, 0.6) 30%);
  background-size: cover;
}
.secondSection .cardContainer__thirdcard {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8196078431)), color-stop(44%, rgba(191, 213, 239, 0.6901960784))), url("image9.png");
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8196078431), rgba(191, 213, 239, 0.6901960784) 44%), url("image9.png");
  background-size: cover;
}
.secondSection .cardContainer__fourcard {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(227, 232, 254, 0.631372549)), color-stop(44%, rgba(149, 200, 211, 0.1294117647)));
  background: linear-gradient(to bottom, rgba(227, 232, 254, 0.631372549), rgba(149, 200, 211, 0.1294117647) 44%);
  background-size: cover;
}
.secondSection .secondSection__cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 358px;
  height: 526px;
  border-radius: 24px;
}
.secondSection .secondSection__cardContainer .cardContainer__h {
  width: 304px;
  height: 73px;
  font-size: 32px;
  font-weight: 600;
  margin-top: 25px;
}
.secondSection .secondSection__cardContainer .cardContainer__text {
  width: 278px;
  height: 179px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 26px;
}
.secondSection .secondSection__cardContainer .cardContainer__RussDay {
  margin-top: 11px;
}
.secondSection .secondSection__cardContainer .cardContainer__procent {
  font-size: 64px;
}
.secondSection .secondSection__cardContainer .cardContainer__stulV {
  width: 230px;
  height: 263px;
  margin-left: 86px;
}
.secondSection .secondSection__cardContainer .cardContainer__circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: #F17E00 solid 4px;
  background-color: white;
  color: #F17E00;
  font-size: 30px;
  margin-top: 462px;
  margin-left: 300px;
}
.secondSection .secondSection__cardContainer .cardContainer__Text__smalltext {
  font-size: 15px;
}

.thirdSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 1920px;
  height: 703px;
  background-color: white;
}
.thirdSection .thirdSection__Imagecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 50%;
  height: 100%;
  margin-left: 114px;
}
.thirdSection .thirdSection__Imagecontainer .Imagecontainer__image {
  width: 796px;
  height: 472px;
}

.thirdSection_contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 67%;
}
.thirdSection_contentContainer .contentContainer_h {
  display: inline-block;
  width: 559px;
  height: 82px;
  margin-right: 92px;
  font-size: 32px;
}
.thirdSection_contentContainer .contentContainer_text {
  display: inline-block;
  width: 553px;
  height: 228px;
  margin: 20px;
  font-size: 18px;
}

.fourSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 1920px;
  height: 509px;
  background: url("Section4.png");
  background-size: cover;
}
.fourSection .fourSection__textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}
.fourSection .fourSection__textContainer .textContainer__H {
  display: inline-block;
  width: 462px;
  height: 128px;
  font-weight: 300;
  font-size: 64px;
  color: white;
  margin-top: 20px;
}
.fourSection .fourSection__textContainer .textContainer__Text {
  display: inline-block;
  width: 530px;
  height: 30px;
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin-top: 20px;
}
.fourSection .fourSection__textContainer .textContainer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 36px;
  margin-top: 30px;
  margin-left: 135px;
}
.fourSection .fourSection__textContainer .textContainer__form .form__button {
  width: 211px;
  height: 53px;
  border-radius: 26.5px;
  color: white;
  background-color: #232323;
}
.fourSection .fourSection__textContainer .textContainer__form .form__input {
  width: 438px;
  height: 53px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 26.5px;
  background-color: white;
  color: black;
}
.fourSection .fourSection__ImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
.fourSection .fourSection__ImageContainer .Imagecontainer__image {
  width: 796px;
  height: 475px;
}

.fiveSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1920px;
  height: 486px;
}
.fiveSection .fiveSection__h {
  display: inline-block;
  width: 208px;
  height: 62px;
  font-size: 48px;
  font-weight: 300;
  margin-top: 105px;
}
.fiveSection .fiveSection__reviewsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 39px;
  margin-top: 72px;
}
.fiveSection .fiveSection__reviewsContainer .reviewsContainer__review {
  width: 441px;
  height: 158px;
}

.sixSection {
  position: relative;
  width: 1920px;
  height: 610px;
  background: url("map.png");
  background-size: cover;
  margin-top: 89px;
}
.sixSection .sixSection__point {
  position: absolute;
  margin-top: 154px;
  margin-left: 1060px;
}
.sixSection .sixSection__MebellaCard {
  position: absolute;
  margin-top: 186px;
  margin-left: 223px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1920px;
  height: 480px;
}
.footer .item__firstMargin {
  margin-top: 94px;
  margin-bottom: 53px;
}
.footer .item__lastMargin {
  margin-bottom: 54px;
}
.footer .item__hr {
  width: 90%;
  height: 1px;
  background-color: #F17E00;
}
.footer .footer__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer .footer__item .item__mebelloCopyright {
  width: 50%;
  margin-left: 80px;
  margin-top: 42px;
}
.footer .footer__item .item__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-left: 80px;
}
.footer .footer__item .item__columns .columns__Mebellalogo {
  width: 256px;
  height: 46px;
  margin-bottom: 53px;
}
.footer .footer__item .item__columns .columns__Phone {
  font-size: 32px;
}
.footer .footer__item .item__tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 50%;
  margin-right: 80px;
}
.footer .footer__item .item__tables .tables__navtable {
  width: 173px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer__item .item__tables .tables__navtable .navtable__H {
  margin-bottom: 16px;
  font-weight: bold;
}
.footer .footer__item .item__tables .tables__navtable .navtable__a {
  margin-bottom: 5px;
}
.footer .footer__item .item__socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 50%;
  margin-top: 21px;
  margin-right: 80px;
}
.footer .footer__item .item__socialContainer .socialContainer__image {
  width: 47px;
  height: 47px;
}
/*# sourceMappingURL=styles.css.map */