@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: normal;
}

body {
  line-height: 1;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

input, button, textarea, select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cardsContainer_card .card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: block;
  background-color: #343A40;
  min-width: auto;
  max-width: 100%;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6%;
  position: relative;
  left: 16px;
}
.header .header_nav .nav_firsttext {
  font-size: 20px;
  margin-right: 24px;
}

.firstSection {
  background-color: #E9ECEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.firstSection .firstSection_h {
  font-size: 72px;
  font-weight: 300;
  margin-left: 49px;
  margin-top: 64px;
}
.firstSection .firstSection_p {
  min-width: 58px;
  min-width: auto;
  max-width: 635px;
  margin-left: 55px;
  margin-top: 8px;
}
.firstSection .firstSection_button {
  background-color: #007BFF;
  padding: 12px 20px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  min-width: auto;
  max-width: 201px;
  min-height: 48px;
  border-radius: 4px;
  margin-left: 55px;
  margin-top: 16px;
  margin-bottom: 64px;
}

.cardsСontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  min-width: auto;
  max-width: 100%;
}

.card_left {
  position: relative;
  margin-left: 55px;
}

.cardsContainer_card {
  width: 100%;
  max-width: 445px;
  max-height: 234px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}
.cardsContainer_card .card_text_bold {
  font-weight: bold;
}
.cardsContainer_card .card_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  background-color: rgba(0, 0, 0, 0.031372549);
  margin-bottom: 20px;
}
.cardsContainer_card .card_first_text {
  margin-left: 20px;
}
.cardsContainer_card .card_H {
  display: inline-block;
  margin-bottom: 12px;
  margin-left: 20px;
}
.cardsContainer_card .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 26px;
  margin-left: 20px;
}
.cardsContainer_card .card_button {
  background-color: #007BFF;
  color: white;
  min-width: auto;
  max-width: 138px;
  max-height: 38px;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.cardsContainer_card_two {
  width: 100%;
  max-width: 350px;
  min-width: auto;
  max-height: 165px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}
.cardsContainer_card_two .card_text_bold {
  font-weight: bold;
}
.cardsContainer_card_two .card_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  background-color: rgba(0, 0, 0, 0.031372549);
  margin-bottom: 20px;
}
.cardsContainer_card_two .card_first_text {
  margin-left: 20px;
}
.cardsContainer_card_two .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 26px;
  margin-left: 20px;
  margin-right: 20px;
}

.grid {
  width: auto;
  border-collapse: collapse;
  margin-left: 55px;
  margin-top: 32px;
  margin-bottom: 73px;
}
.grid th, .grid td {
  border: 1px solid #DEE2E6;
  padding: 12px 20px;
  text-align: left;
}
.grid th {
  background-color: rgba(0, 0, 0, 0.031372549);
  font-weight: bold;
}
.grid .grid_item_text {
  margin-left: 0;
}
.grid .grid_item_text_blue {
  color: #007BFF;
}

.footer {
  background-color: #F5F5F5;
  color: #6C757D;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_text {
  margin-left: 55px;
}

@media (max-width: 768px) {
  .firstSection .firstSection_h {
    font-size: 72px;
    font-weight: 300;
    margin-left: 33px;
    margin-top: 72px;
  }
  .firstSection .firstSection_p {
    max-width: 635px;
    margin-left: 39px;
    margin-top: 0;
  }
  .firstSection .firstSection_button {
    margin-left: 39px;
    margin-top: 16px;
    margin-bottom: 64px;
  }
}
@media (max-width: 500px) {
  .firstSection .firstSection_h {
    font-size: 48px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 32px;
  }
  .firstSection .firstSection_p {
    max-width: 273px;
    margin-left: 31px;
    margin-top: 8px;
  }
  .firstSection .firstSection_button {
    margin-left: 31px;
    margin-top: 16px;
    margin-bottom: 48px;
  }
}
@media (max-width: 500px) {
  .cardsСontainer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
@media (max-width: 768px) {
  .card_left {
    margin-left: 39px;
  }
}
@media (max-width: 500px) {
  .card_left {
    margin-left: 16px;
  }
}
@media (max-width: 768px) {
  .cardsContainer_card {
    max-width: 390px;
  }
  .cardsContainer_card .card_first {
    margin-bottom: 20px;
  }
  .cardsContainer_card .card_first_text {
    margin-left: 20px;
  }
  .cardsContainer_card .card_H {
    margin-bottom: 12px;
    margin-left: 20px;
  }
  .cardsContainer_card .card_info {
    margin-bottom: 6px;
    margin-left: 20px;
  }
  .cardsContainer_card .card_button {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 500px) {
  .cardsContainer_card {
    max-width: 288px;
    max-height: 273px;
  }
  .cardsContainer_card .card_first {
    margin-bottom: 20px;
  }
  .cardsContainer_card .card_first_text {
    margin-left: 20px;
  }
  .cardsContainer_card .card_H {
    margin-bottom: 12px;
    margin-left: 20px;
  }
  .cardsContainer_card .card_info {
    margin-bottom: 26px;
    margin-left: 20px;
  }
  .cardsContainer_card .card_button {
    margin-bottom: 29px;
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .cardsContainer_card_two {
    max-width: 270px;
    max-height: 180px;
  }
}
@media (max-width: 500px) {
  .cardsContainer_card_two {
    max-width: 288px;
    max-height: 165px;
  }
}
@media (max-width: 768px) {
  .grid {
    -ms-grid-columns: 273px 115px 168px 137px;
    grid-template-columns: 273px 115px 168px 137px;
    grid-auto-rows: 62px;
    margin-left: 39px;
    margin-bottom: 64px;
  }
  .grid_item_text {
    margin-left: 12px !important;
  }
}
@media (max-width: 500px) {
  .grid {
    -ms-grid-columns: 154px 100px 168px 122px;
    grid-template-columns: 154px 100px 168px 122px;
    grid-auto-rows: 123px;
    margin-left: 0px;
    margin-bottom: 71px;
    overflow-x: auto;
  }
  .grid_item_text {
    margin-left: 11px !important;
  }
}
@media (max-width: 768px) {
  .footer .footer_text {
    margin-left: 55px;
  }
}
@media (max-width: 500px) {
  .footer .footer_text {
    margin-left: 39px;
  }
}
/*# sourceMappingURL=style.css.map */