@import "browser.scss";

.body
{
    display: flex;
}
.header
{
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #232323;
    color: white;

    width: 100%;
    max-width: 1678px;
    height: 32px;
}
.header_nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;

    width: 100%;
    max-width: 500px;
    height: 20px;
}
.header_phone
{
    margin-left: 286px;
}
.catalog
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    width: 100%;
    max-width: 205px;
    height: 32px;

    background-color: #F17E00;
    color: white;

    margin-right: 367px;
}
.catalog_logo
{
    margin-left: 27px;

    width: 16px;
    height: 16px;
}
.catalog_text
{
    margin-left: 4px;
}
.firstSection
{
    width: 1678px;
    height: 779px;

    display: flex;
    flex-direction: row;
}
.side_panel
{
    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color: #232323;
    color: white;

    height: 779px;
    width: 205px;
}
.proxson
{
    height: 23px;
    width: 100%;
    max-width: 98px;

    margin-left: 27px;
    margin-top: 21px;
}
.fabric
{
    margin-top: 23px;
}
.side_logoContainer
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 205px;
    height: 38px;

    background-color: #4F4E4E;

    margin-top: 16px;
}
.side_logoContainer_logo
{
    width: 149px;
    height: 21px;
}
.side_pagesContainer
{
    margin-top:33px;

    display: flex;
    gap: 33px;
    flex-direction: column;
}
.side_a
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;

    margin-left: 28px;
}
.side_image
{
    width: 36px;
    height: 36px;

    margin-right: 17px;
}
.firstSection_columns
{
    display: flex;
    flex-direction: column;

    width: 1473px;
    height: 779px;

    background: url("first_section_background.png");
    background-size: cover;

}
.firstSection_logoContainer
{
    display: flex;
    
    justify-content: center;

    width: 100%;
    height: 180px;

    background: linear-gradient(to bottom, #FFFFFF , #FFFFFF00);
    background-size: cover;
}
.firstSection_logoContainer_logo
{
    width: 254px;
    height: 51px;

    margin-top: 23px;
}
.firstSection_content
{
    display: flex;
    flex-direction: row;
}
.firstSection_images
{
    position: relative;
}
.firstSection_content_matras
{
    margin-left: 87px;

    width: 100%;
    max-width: 794px;
    height: 517px;
}
.firstSection_content_baige
{
    position:absolute;

    top: 0;
    left: 0;

    margin-left: 450px;
    margin-top: 268px;

    width: 151px;
    height: 123px;
}
.radioContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.matras_text
{
    font-size: 64px;
    font-weight: 200;
  }
  .matras_text_left
  {
    margin-left: 227px;
  }
  .matras_cost_container
  {
    margin-left: 100px;
  }
  .matras_cost_line 
  {
    position: relative;

    display: inline-block;

    font-size: 34px;

    color: gray;
  }
  
  .matras_cost_line::after 
  {
    content: "";
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%; 
    height: 2px;

    background: #848484;

    transform: rotate(-8.49deg);
    transform-origin: center;
  }
  
  .matras_cost
  {
    font-size: 64px;
    font-weight: 200;

    margin-left: 12px;
  }
  .ul {
    list-style: none;

    margin-top: 60px;
  }

  .ul_block 
  {
    position: relative;

    margin-bottom: 8px;

    padding: 5px;
  }

  .ul_block::before {
    content: "";
    background-color: #F17E00;
    clip-path: polygon(0 0, 100% 50%, 0 100%);

    position: absolute;

    top: 50%; 
    left: -13px; 
    transform: translateY(-50%); 
    
    width: 12px;
    height: 14px; 
  }

  .radioContainer
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .customRadio {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
  
    width: 24px;
    height: 24px;

    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);

    border-radius: 50%;

    background-color: white;

    cursor: pointer;

    position: relative;

    transition: all 0.3s ease;
  }
  

.customRadio:checked {
    border-radius: 40%;

    width: 42px;
    height: 25px;
}


.customRadio:checked::after {
    content: "";

    position: absolute;

    top: 50%;
    left: 50%;

    width: 24px;
    height: 6px;

    background: black;

    border-radius: 8px; 

    transform: translate(-50%, -50%); 

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.secondSection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    max-width: 1680px;
    height: 680px;

    background-color: white;
}
.secondSection_card
{
    width: 358px;
    height: 526px;

    border-radius: 12px ;

    background-color: black;
}
.thirdSection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    max-width: 1680px;
    height: 703px;

    background-color: white;
}
.thirdSection_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 50%;
    height: 100%;

    margin-left: 114px;
}
.thirdSection_container_column
{
    display: flex;
    align-items: start;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    width: 50%;
    height: 67%;
}
.thirdSection_image
{
    width: 796px;
    height: 472px;
}
.thirdSection_text
{
    display: inline-block;

    width: 553px;
    height: 228px;

    margin: 20px;

    font-size: 18px;
}
.thirdSection_h
{
    display: inline-block;
    width: 559px;
    height: 82px;

    margin-right: 92px;
    font-size: 32px;
}
.fourSection
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    position: relative;

    width: 1678px;
    height: 509px;

    background: url("Section4.png");
    background-size: cover;
}
.fourSection_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
}
.fourSection_ImageContainer
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
}
.fourSection_form
{
    display: flex;
    flex-direction: row;
    gap: 36px;

    margin-top:30px;
    margin-left: 135px;
}
.fourSection_button
{
    width: 211px;
    height: 53px;

    border-radius: 26.5px;

    color: white;

    background-color: #232323;
}
.fourSection_input
{
    width: 438px;
    height: 53px;


    padding-left: 15px;
    box-sizing: border-box;

    border-radius: 26.5px;

    background-color: white;

    color: black;
}
.fourSection_H
{
    display: inline-block;

    width: 462px;
    height: 128px;

    font-weight: 300;
    font-size: 64px;

    color: white;

    margin-top: 20px;
}
.fourSection_Text
{
    display: inline-block;

    width: 530px;
    height: 30px;

    font-weight: 300;
    font-size: 18px;

    color: white;

    margin-top: 20px;
}
.fiveSection
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1678px;
    height: 486px;
}
.fiveSection_h
{
    display: inline-block;
    width: 208px;
    height: 62px;

    font-size: 48px;
    font-weight: 300;

    margin-top: 105px;
}
.fiveSection_Images
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 39px;

    margin-top: 72px;
}
.reviews
{
    width: 441px;
    height: 158px;
}
.sixSection
{
    position: relative;

    width: 1684px;
    height: 610px;

    background: url("map.png");
    background-size: cover;

    margin-top: 89px;
}
.point
{
    position: absolute;

    margin-top: 154px;
    margin-left: 1060px;
}
.MebellaCard
{
    position: absolute;

    margin-top: 186px;
    margin-left: 223px;
}
.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1680px;
    height: 480px;
}
.footer_item
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mebelloCopyright
{
    width: 50%;

    margin-left: 80px;
}
.SocialContainer
{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;

    margin-right: 80px;
}
.hr{
    width: 90%;
    height: 1px;
    background-color: #F17E00;
}
.tables
{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;

    margin-right: 80px;
}
.navtable_H
{
    margin-bottom: 16px;
    font-weight: bold;
}
.navtable
{
    width: 173px;
    height:120px;

    display: flex;
    flex-direction: column;
}
.footer_columns
{
    display: flex;
    flex-direction: column;

    width: 50%;

    margin-left: 80px;
}